<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="example">
    <item-list :key="index" v-bind:title="item" v-for="(item,index) in arr"></item-list>
</div>
</body>

<script>
    Vue.component('item-list', {
        template: '<li> {{ title }}</li>',
        props: ['title']
    })

    new Vue({
        el: '#example',
        data: {
            arr: [1, 2, 3, 4, 5]
        },
    })
</script>
</html>